<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mini-games Scrapper</title>
    <link rel="stylesheet" href="/css/styles.css">

    
</head>

        <h1>League of Legends Summoner-Scrapper</h1>
        <div>

            <img src="/Hextech_Drake_Render.png" >
        </div>
        <form class="submission-form" action="/summonerLoL" method="post">
            <label class="b">Summoner Name</label>
            <input class="" type="text" name="sum">


            <button class="" type="submit"name="button">Get Info</button>
        </form>

    


</html>